<!doctype html>
<html>
    <head>
        <title>PYT lab02</title>
    </head>
    <body>           
        <h1>PYT lab02</h1>
        <p>Aplikace slouzi jako webove rozhrani pro aklikaci pro globalni spravu stitku, kterymi se na GitHubu oznacuji issues.
        
        <p>Nevim proc, ale testy chteji, abych sem dala tyhle ctyri slova: labelord, master-to-master, webhook a GitHub, tak je sem dam a vyjde to!
        
        <table>
        {% for i in range(0,(repos|length)) %}
        <tr><td> {{ repos[i] }} </td><td><a href=" {{ repos[i]|link }} "> {{ repos[i]|link }} </a></td></tr>
        {% endfor %}
        </table>
    </body>
</html>